/**
 * @name Discord+ Source Code
 * @author PlusInsta
 * @authorLink https://plusinsta.carrd.co
 * @version 2.4.1
 * @description Thank you for checking out the source code! And thank you to all of the people who helped make this theme possible.
 * @website https://plusinsta.github.io/discord-plus
 * @source https://raw.githubusercontent.com/PlusInsta/discord-plus/master/DiscordPlus.theme.css
 * @invite 2Jwh2nS
*/
@import url(//fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700|Righteous);
:root {
	--dplus-background: url(//i.imgur.com/3AiL3yN.png);
	--dplus-accent-color: #802060;
	--dplus-font-display: 'Poppins';
	--dplus-font-text: 'Roboto';
	--dplus-font-names: 'Righteous';
	--dplus-avatar-radius: 20%;
	--dplus-server-radius: 20%;
	--dplus-ui-radius: 10px;
	--dplus-blur-scale: 100;
	--dplus-bg-dark-1: hsla(0, 0%, 98%, 0.88);
	--dplus-bg-dark-2: hsla(0, 0%, 98%, 0.90);
	--dplus-bg-dark-3: hsla(0, 0%, 98%, 0.92);
	--dplus-bg-dark-4: hsla(0, 0%, 95%, 0.94);
	--dplus-bg-light-1: hsla(0, 0%, 98%, 0.88);
	--dplus-bg-light-2: hsla(0, 0%, 98%, 0.90);
	--dplus-bg-light-3: hsla(0, 0%, 98%, 0.92);
	--dplus-bg-light-4: hsla(0, 0%, 95%, 0.94);
}
/* Current theme variable shorthands */
.theme-dark {
	--dplus-bg-1: var(--dplus-bg-dark-1);
	--dplus-bg-2: var(--dplus-bg-dark-2);
	--dplus-bg-3: var(--dplus-bg-dark-3);
	--dplus-bg-4: var(--dplus-bg-dark-4);
}
.theme-light {
	--dplus-bg-1: var(--dplus-bg-light-1);
	--dplus-bg-2: var(--dplus-bg-light-2);
	--dplus-bg-3: var(--dplus-bg-light-3);
	--dplus-bg-4: var(--dplus-bg-light-4);
}

:root {
	--blur-backdrop: 4px;
	--blur-bgcover: 3px;
	--blur-context: 2px;
}



